site_name: Статический сайт-портфолио Дениса Кириченко
site_description: Статический сайт-портфолио, созданный с использованием MkDocs и GitHub Pages
site_author: Денис Кириченко
site_url: https://sp4tn1c.github.io

theme:
  name: material
  language: ru
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-night
        name: Включить тёмную тему
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Включить светлую тему
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - search.highlight
    - content.code.copy

nav:
  - Главная: index.md
  - Об авторе: about.md
  - Лабораторные работы:
      - Лаба 1 — Статический сайт: labs/lab1.md
      - Лаба 2: labs/lab2.md
      - Лаба 3: labs/lab3.md
      - Лаба 4: labs/lab4.md
      - Лаба 5: labs/lab5.md
  - Проекты: projects.md
  - Контакты: contact.md

plugins:
  - search:
      lang: ru

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sp4tn1c
    - icon: fontawesome/brands/telegram
      link: https://t.me/sp4tn1c